.navbar-brand{
  font-family: cursive;
}
.nav-item{
  display: flex;
  justify-content: center;
}
.CP{

}
.Denver{
      position: relative;
      text-align: center;
      color: white;
      width: 100%;

}
.centered {
    width: 100%;
    text-shadow: 2px 2px black;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container{

height: 50%;
width: 100%;



}
.Valet{

  margin-top: 5%;
  font-size: 5em;
  color: maroon;
  text-shadow: 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;


}
.Info{
  font-size: 3em;
  color: black;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;



}
.container2{
  background-color: beige;
  height: 200;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:  5%;
  margin-bottom: 5%;
}
.Valet2{

  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: maroon;
  text-shadow: 1px 1px black;
  margin-left: 15%;
  margin-right: 15%;


}
.Valet3{
font-size: 3em;
height: 50%;
display: flex;
justify-content: center;
color: black;
align-items: center;
margin-left: 15%;
margin-right: 15%;

}

.container3{
  background-color: beige;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  5%;
  margin-bottom: 5%;
}
.Valet4{

  height: 50%;
display: flex;
justify-content: center;
flex-direction: column;
color: black;
align-items: center;
margin-left: 15%;
margin-right: 15%;

}
.container4{

  height:30%;
  width: 80%;
  background-color: Maroon;

  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  margin-bottom: 20%;

}
.container4:hover{
  background-color: red;
}
.number{
  font-size: 1.5em;
  color: white;
  margin-top: 3%;

}

.Valet5{

  height: 300%;
  width: 100%;

  margin-left: 15%;
  margin-right: 15%;
  color: maroon;
  margin-bottom: 75%;

}
input[type=text] {

    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid Maroon;
    border-radius: 4px;
  }

  input[type=email] {

      padding: 12px 20px;
      margin: 6px 0;
      box-sizing: border-box;
      border: 2px solid Maroon;
      border-radius: 4px;
    }

textarea [name=message]{

        padding: 12px 20px;
        margin: 6px 0;
        box-sizing: border-box;
        border: 2px solid Maroon;
        border-radius: 4px;
      }

.button{
  justify-content: flex-start;
  height: 65%;
  width: 100%;
  justify-content: space-between;

}
.message{

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: black;
    text-align: left;
    height: 9%;
  }

  .containerlogo{
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }
  .fa {
    padding: 20px;
    font-size: 2em;
    width: 50px;
    text-decoration: none;
    align-items: baseline;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
      background: #FF5733;
      color: white;
    }
  .logos{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
  }

  .copyright{
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
